* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Pretendard", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container-fluid {
  width: 100% !important;
  /* height: 100%; */
}

.wrapper_main {
  background-color: whitesmoke;
  /* width: calc(100% - 300px); */
  width: 100%;
  /* height: auto; */
  /* margin: auto; */
}

/* 패널 PART */
.pannel_part {
  /* width: calc(100% - 300px); */
}
.carousel {
  margin-top: 58px;
  background-color: black;
}
.carousel-item img {
  height: 400px;
  object-fit: cover;
  opacity: 0.5;
}

/* find PART 내집버튼 */
.find_part {
  margin: 0;
  /* width: calc(100% - 300px); */
  background-color: #212529;
  /* background-color: #0dcaf0; */
  padding: 80px 30px;
  /* height: auto; */
  /* display: flex; */
  /* flex-direction: column; */
}
.find_part_title {
  text-align: center;
  margin: 30px;
  margin-top: 0px;
  color: white;
}
.find_btn {
  width: 150%;
  margin: 10px;
}
.find_btn a {
  color: black;
}
.find_select {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.find_select select {
  height: 50px;
  margin: 10px;
}

/* list 공지사항 PART */
.list_part {
  width: calc(100% - 300px);
  margin: auto;
  background-color: whitesmoke;
  height: auto;
  /* width: 100%; */
}
.list_part_list {
  padding: 60px;
  background-color: whitesmoke;
  height: 100%;
}
.list_part_list_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 60px; */
}
.list_part_list_item1,
.list_part_list_item2,
.list_part_list_item3 {
  /* display: inline-block; */
  width: 30%;
  margin: 10px;
  height: 200px;
  background-color: #212529;
  color: white;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.35s;
  border-radius: 1px;
  /* align-items: center; */
  /* padding: 20px; */
}
.list_part_list_item1:hover,
.list_part_list_item2:hover,
.list_part_list_item3:hover {
  opacity: 1;
  cursor: pointer;
}
.list_part_list_item1 img,
.list_part_list_item2 img,
.list_part_list_item3 img {
  /* width: 100%; */
  /* height: 100%; */
}
.list_part_list_item1 span,
.list_part_list_item2 span,
.list_part_list_item3 span {
  /* position: absolute; */
  /* z-index: 100; */
  font-size: 2rem;
  opacity: 1;
}
.list_part_list_item1 > div,
.list_part_list_item2 > div,
.list_part_list_item3 > div {
  padding: 10px;
}
.list_part_list_item1 {
  /* background-image: url("../img/temp.jpg"); */
  /* object-fit: cover; */
  /* opacity: 0.5; */
}
.list_part_list_item2 {
}
.list_part_list_item3 {
}
.list_part_list_wrapper2 {
  margin: 8px;
  margin-bottom: 60px;
}

/* footer */
footer {
  background-color: #212529;
  color: white;
  padding: 10px;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list a {
  text-decoration: none;
  color: rgb(172, 172, 172);
  margin: 0px 5px;
}

/* login */
#loginBox {
  width: 420px;
  height: 400px;
  margin: 0 auto;
}

#login {
  padding-bottom: 15px;
  font-weight: 600;
}

.form-control {
  height: 45px;
}

#loginBtnBox .btn-primary {
  background-color: #212529;
  border: none;
}

#loginBtnBox .btn-primary:hover {
  color: #fff !important;
  background-color: #727272 !important;
  border-color: #727272 !important;
}

.btnfind {
  margin-top: 10px;
  border: none;
  background-color: white;
}

#loginBtn {
  width: 100%;
  line-height: 2;
  margin-top: 20px;
}

#loginBtnBox {
  text-align: center;
}

#divInline {
  display: inline;
  margin: 50px 20px 0 20px;
}

.btnfind a {
  color: #212529;
}

.modal-header {
  border: none;
}

.loginState {
  display: none !important;
}

/* logout modal */
#exampleModal2 .modal-header {
  padding-top: 20px;
  justify-content: center !important;
  border-bottom: none;
}
#exampleModal2 .modal-footer {
  border: none;
}
.modal-footer .gomain {
  margin-top: 5px;
}

.modal-footer .btn-primary {
  background-color: #212529;
  border: none;
  width: 100%;
  height: 45px;
}

.modal-footer .btn-primary:hover {
  color: #fff !important;
  background-color: #727272 !important;
  border-color: #727272 !important;
}
