iframe {
  height: 350px;
  width: 100%;
}
.modal {
  top: 60px;
}
.modal-body {
  margin-top: 20px;
}
.modal-body p {
  margin-bottom: 0;
}
.modal-header {
  padding: 0px;
  border: none;
  margin: 0px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 99999;
}
.modal-title {
  display: none;
}
.modal-content {
  border: none;
  padding: 10px;
  padding-bottom: 0;
}
.modal-dialog {
  max-width: 700px;
}
.modal-content button.btn-close {
  padding: 12px;
}
.btn-close:hover {
  opacity: 1;
}
.btn-close:focus {
  box-shadow: none;
}

.modal-footer {
  border-top: 0px;
}

.modal-button {
  height: 45px;
  line-height: 45px;
  text-align: center;
}
